
.projects {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  margin: 1em;
  justify-content: center;
}

.project {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(black, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 128px;
  margin: 0 1em;
  overflow: hidden;
  position: relative;
  width: 128px;
}

.project .host {
  bottom: 0;
  color: #333;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.project .moments {
  bottom: 2em;
  color: #666;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.project .octicon {
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.project .locked {
  color: red;
}

.project .unlocked {
  color: green;
}
