
header {
	background: transparent linear-gradient( to right, #00BBFF, white ) no-repeat left top;
}
header::after, div.subject-text::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left,#F7F700,white,#00BBFF);
}

/* https://css-tricks.com/gradient-borders-in-css/ */
.y2b {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
			to bottom, 
			#F7F700,
			white,
      #00BBFF
		) 1 100%;
	padding: 0.5em;
}
