
#snippet-wrapper {
  background: rgba( 153, 153, 153, 0.5 );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#snippet {
  background: white;
  height: 600px;
  margin: auto;
  padding: 1em;
  position: relative;
  top: 10%;
  width: 800px;
}

#snippet a.close {
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

#snippet td.fixed-300 {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}