
#snippet-wrapper {
  background: rgba( 153, 153, 153, 0.5 );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#snippet {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  height: 600px;
  margin: auto;
  padding: 1em;
  position: relative;
  top: 10%;
  width: 800px;
}

#snippet a.close {
  color: red;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  width: 20px;
}

#snippet td,
#snippet th {
  border: 1px solid gray;
  border-collapse: collapse;
}

#snippet td.no-wrap {
  white-space: nowrap;
}

#snippet td.fixed-300 {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tac {
	text-align: center;
}