
body {
	font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

.method-GET {
	background: #80ff80;
	border-radius: 4px;
	padding: 3px 5px;
}

.method-POST {
	background: #ff9090;
	border-radius: 4px;
	padding: 3px 5px;
}

.status-200 {
	background: #9090ff;
	border-radius: 4px;
	padding: 3px 5px;
}

.status-201 {
	background: #6060ff;
	border-radius: 4px;
	padding: 3px 5px;
}

.status-204 {
	background: #a0a0ff;
	border-radius: 4px;
	padding: 3px 5px;
}

.status-401 {
	background: #ff9090;
	border-radius: 4px;
	padding: 3px 5px;
}

.status-409 {
	background: #ff4848;
	border-radius: 4px;
	padding: 3px 5px;
}
