.list-header{
    padding:20px 15px;
    background-color: rgb(235 235 235) !important;
    font-size: 16px;
    font-weight: 500;
    border:1px solid rgb(148, 148, 148);
    border-radius:5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.list-header .fa{
    margin-right: 10px;
}
.method-wrapper{
    font-size: 16px;
}
.method-wrapper .method{
    width:90px
}
.method-wrapper .method .name{
    margin-left: 5px;
    padding: 1px 5px;
    border-radius: 3px;
    color:black;
}
.method-wrapper .method .name.red{
    background-color:#ff9090;
}

.bg-red{
    background-color:#ff9090;
}

.method-wrapper .status orange{
    background-color: #ffcc99;
   
}

.bg-orange{
    background-color: #ffcc99;
    width:38px;
    /* margin-left: 20px; */
}

.method-wrapper .status blue{
    background-color:#9090ff
}

.bg-blue{
    background-color: #9090ff;
    width:38px;
    /* margin-left: 20px; */

}

.method-wrapper .method .name.green{
    background-color:#80ff80;
}
.bg-green{
    background-color:#80ff80;
}
.method-wrapper .status .miss .flag{
    width:10px;
    height:10px;
    border-radius: 40px;
}
.method-wrapper .status .miss .flag .repo-language-color{
    height: 100%;
    width:100%;
    top: unset;
    position: unset;
    display: block;
}
.method-wrapper .status{
    padding: 4px 0px;
    min-width:80px;
    max-width:100px;
}
.miss .flag.yellow{
    background-color:rgb(241, 224, 90);
}

.content-type{
    text-align:center;
}

.status .code{
    border-radius:4px;
    width: 50%;
   
}

